

header {
    display: flex;  
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 0rem 2rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    background-color: #ffffffe0;
    backdrop-filter: blur(15px);
    color: #333333; /* Dark text color for contrast */
}

/* Logo Styling */
.logo img{    
    width: 7rem;
    object-fit: cover;
}

.icon{
    width: 2rem;
    vertical-align: middle;
    opacity: 0.8;
    margin-right: 0.5rem;
}

/* Search Section within Header */
.search-section {
    display: flex;
    max-width: 70%;
    align-items: center;
    margin-left: 2rem;
    flex-grow: 1;
}

.search-container {
    display: flex;
    border: 0.1rem solid #ccc;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* White background for search box */
    flex-grow: 1;
    
}

#search-type {
    border: none;
    padding: 0.5rem;
    background-color: #f0f0f0; /* Light gray for input background */
    font-size: 1rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
#search-input {
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    flex-grow: 1;
    width: 75%;
    font-size: 1rem;
    outline: none;
    background-color: #e0e0e0; /* White background for input */
}
#search-button {
    background-color: #333333; /* Dark gray for button */
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 3rem;
    width: 25%;
}

#search-button:hover {
    background-color: #555555; /* Slightly lighter for hover effect */
}
#search-button img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
}

.primary-menu, .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-menu > ul > li {
    display: inline-block;
    position: relative;
}

.primary-menu a,
.dropdown-menu a{
    text-decoration: none;
    color: #333;
    padding: 0.625rem 0.9375rem;
    display: block;
    transition: background-color 0.3s ease;
}

.primary-menu a:hover,
.dropdown-menu a:hover{
    background-color: #bdbdbd;
    border-radius: 0.25rem; 
}


.dropdown-menu {
    display: none; 
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    background-color: #ffffffe0;
    backdrop-filter: blur(15px);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; 
    z-index: 1000;
    min-width: 9.375rem; 

}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 2rem; 
    border-width: 0 1rem 1rem 1rem;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.primary-menu li::before {
    content: '';
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 3rem; 
    background: transparent; 
}

.dropdown-menu li {
    display: block; 
}

.primary-menu > ul > li:hover .dropdown-menu{
    display: block;
}

.primary-menu > ul > li:hover .dropdown-menu,
.primary-menu > ul > li:hover {
    pointer-events: auto;
}


.user-dashboard {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.5rem 2rem;
    border: 0.1rem solid #8b8b8b; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem; 
}



.user-info {
    display: flex;
    align-items: center;
}

#userAvatar {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
    margin-right: 0.5rem; 
}



.dropdown-arrow {
    margin-left: 0.25rem; 
    font-size: 0.8rem;
}

@media (max-width: 960px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }

    .search-section {
        margin-bottom: 1rem;
    }

    .primary-menu {
        justify-content: space-around;
    }

    .user-dashboard {
        justify-content: center;
    }

    .logo img {
        margin: 0 auto;
        display: block;
    }
}